// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  font-family: 'EB Garamond';

}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background:   #ff0080;
  transition: background 0.3s ease;
  margin-top: 16px;
}

.btn-flat:hover {
  background: #ff00ff;
  color: white;
}

h2 {
  margin-top: 46px;
  text-align: center;
  font-family: 'EB Garamond';
}
p {
  margin-top: 24px;
  margin-bottom: 42px;
  font-family: 'EB Garamond'
}

.card-container {
  margin-left: 24px;
  margin-right: 24px;
  flex-wrap: wrap;
}

.main-bread img {
  width:600px;
  margin-top: 36px;
  margin-bottom: 16px;
}

.user-description {
  padding: 0;
  margin: 0;
}

.bread-gallery img {
  width: 200px;
  height: 200px;
  padding-right: 12px;

}
