// Specific CSS for your home-page
.home-container {
  background-color: white;
}
.container {
  padding-top: 24px;
}

.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  font-family: 'Open Sans', sans-serif;

}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #e79c2a;
  transition: background 0.3s ease;
  margin-top: 42px;
}

.btn-flat:hover {
  background: black;
  color: white;
}

h2 {
  margin-top: 46px;
  margin-bottom: 12px;
  text-align: center;
  font-family:'Open Sans', sans-serif;
}
.description p {
  margin-top: 24px;
  margin-bottom: 42px;
  font-family:'Open Sans', sans-serif;
  background-image: url('https://image.freepik.com/free-photo/paperboard-yellow-texture_95678-83.jpg');
}

.card-container {
  margin-left: 24px;
  margin-right: 24px;
}

.main-bread img {
  width: 100%;
  object-fit: cover;
}

.user-description {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  background-image: url('https://image.freepik.com/free-photo/paperboard-yellow-texture_95678-83.jpg');
}

.bread-gallery img {
  width: 50%;
  height: 200px;
  object-fit: cover;

}

.bread-gallery {
  display: flex;
  flex-wrap: wrap;
}

.bg-color-cream {
  background-color: #F6F3E3;
}

body {
  font-family:'Open Sans', sans-serif;
  font-size: 18px;
}

.p-introduction {
  padding-bottom: 42px;
}

.content {
  padding-bottom: 56px;
}
