// Import page-specific CSS files here.
@import "home";


li {
  list-style : none;
}

a:hover {
  text-decoration: none
}

.bakery-title a {
  color: black;
}

.bakery-title a:hover {
  color: orange;
}
