<div class="banner d-flex" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://image.freepik.com/free-photo/midsection-male-baker-s-hand-dusting-flour-wooden-desk-with-baked-bread_23-2148189062.jpg);">
  <div class="container d-flex flex-column justify-content-around align-items-center">
    <%= image_tag "white_logo_transparent_background.png", alt: "alttext", width: 300%>
    <div class="text-center">
      <h1>"Baking. Passion. Creating. Connection"</h1>
      <a class="btn btn-flat" href="#">Become a Baker</a>
    </div>
  </div>
</div>
<div class="container">
  <h2>What is Baking Bad?</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim cumque reprehenderit libero suscipit magnam totam dicta quae laboriosam! Ipsam quod sint sequi ullam eum at ad, minus, exercitationem accusamus incidunt.</p>
</div>
