.card-bakery {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.card-bakery img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-bakery h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-bakery p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-bakery .card-bakery-infos {
  padding: 16px;
  text-align: center;
}

.card-bakery-title {
  border-radius: 4px;
}

.card-bakery-title img {
  border-radius: 4px 0px 0px 4px;
  object-fit: cover;
}

.card-bakery-item {
  border-radius: 4px;
}

.card-bakery-item img {
  border-radius: 4px 0px 0px 4px;
  object-fit: cover;
}


