.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  // padding-top: 20px;
  margin-right: 16px;
}

.p-nav {
  // position: relative;
  // left: 68px;
  // top: -52px;
  // font-size: 24px;
  margin: 0;
  font-size: 24px;
}
